* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

li {
 list-style: none;
}

a {
 color: var(--font);
 text-decoration: none;
}

:root {
 --font: rgba(255, 255, 255, 1);
 --font2: rgba(255, 205, 0, 1)
 --Plac-az: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 162, 255, 1), rgba(0, 0, 0, 1));
 --Plac-vr: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 1, 1, 1), rgba(0, 0, 0, 1));
 --btn-borda: rgba(0, 0, 0, 1);
 --fundo: linear-gradient(rgba(0, 0, 0, 1), rgba(2, 112, 183, 1));
}

body {
 background: var(--fundo);
 color: var(--font);
}

button {
 border: 2px solid var(--btn-borda);
 border-radius: 50%;
 width: 50px;
 height: 50px;
 cursor: pointer;
}

/* NAV */
.nav {
 display: flex;
 flex-direction: column;
 border: 2px solid red;
}

/* PLACAR AZUL */

.azul {

}

#az {
 background: var(--Plac-az);
}

/* PLACAR AZUL e VERMELHO */
.azul,
.vermelho {
 display: flex;
 justify-content: center;
 align-items: center;
}

#az,
#vr {
 width: 100px;
 height: 50px;
 display: grid;
 place-content: center;
 place-items: center;
}

/* PLACAR VERMELHO */

#vr {
 background: var(--Plac-vr);

}

/* BOTÕES PLAY/PAUSER/RESET */
.btsistem {
 margin: 0.9rem;
}
